
.announcment_bar
{
    color: yellow;
    text-align: center;
    font-size: medium;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.grid-custom-item
{
    padding-left: 0;
}
.grid-uniform.grid-custom-uniform
{
    margin: 70px 0;
    
}
.grid-custom-div
{
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}
.grid-sub-div
{
    cursor: pointer;
    padding: 11px;
    width: 20%;
    box-shadow: 1px 1px 6px 2px #ededed;
    height: 170px;
    position: relative;
    

}
.grid-sub-div .tab_img
{
    height: 100%;
    width: 100%;
    object-fit: contain;
    /* position: absolute;
    top: -40px;
    left: 0; */
}
.grid-sub-div h2
{
    /* position: absolute;
    bottom: 0; */
    text-align: center;
    width: 100%;
    margin-top: 12px;

    /* left: 0; */
}

.collection_2 , .collection_3
{
  display: none;
}

.featured-collection-slider .owl-carousel .owl-item img
{
  width: 85%;
    margin: 0 auto;
}

.featured-collection-slider .product_item {
  border: 1px solid #f3f1f1;
  text-align: center;
  padding: 10px;
}





.featured-collection-slider{
    
    margin: 0 auto;
  }
 
  
 
  .products-carousel img.img-explore
  {
    height: 100%;
    width: 100%;
  }
 
  @media screen and (max-width: 920px){
    .featured-collection-slider{
      padding-left: 15px;
      padding-right: 15px;
    }
    .featured-collection-slider .carousel-cell{
      width:50%;
    }
  }
  @media screen and (max-width: 767px){
    .featured-collection-slider .carousel-cell{
      width:100%;
    }
  }